body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dropDownMenu {
  margin-top: 1em;
}

.table {
  margin-top: 1em;
}

.label {
  margin-top: 1em;
}

.textbox {
  margin-bottom: 1em;
}

#submit {
  margin-top: 1em;
  margin-bottom: 1em;
}